nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(24, 23, 23);
    border-bottom: 1px solid #363636;
    padding: 0.1rem 1rem;
}

nav a {
    color: #fafafa;
}

span {
    margin-left: 1rem;
}

#search-form {
    position: relative;
    display: flex;
    max-width: 60%;
    align-self: center;
}

#search-form svg {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
}

#search-form input {
    padding-left: 20%;
    height: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    background: #3b3b3b;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-links li {
    list-style: none;
    margin-right: 1rem;
}

#nav-links span {
    cursor: pointer;
}

#nav-links svg {
    font-size: 1.5rem;
}
